table.table.table-bordered(
    server-tasks-table
    server-id="$ctrl.server._id"
    style="width: 100%;"
)
    thead
        tr
            th Дата
            th Название
            th Время выполнения(мин)
            th Выполнено?